.expense-card-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 0.5fr;
  column-gap: 5px;
  grid-template-rows: 40px;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #f5f5f5;
}

/* resolve responsiveness so inline with input titles from Expense component */
.card-element {
  min-width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
}

.expense-card-text {
  font-family: "Kumbh Sans";
  font-weight: 500;
  font-size: 14px;
  color: #1b212d;
  margin: 0;
}

.expense-card-subtext {
  font-family: "Kumbh Sans";
  font-weight: 400;
  font-size: 13px;
  color: #78778b;
  margin: 0;
}

.name-business-container,
.date-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.type,
.invoice {
  color: #78778b;
}

.type,
.amount,
.invoice {
  align-items: center;
}

.type {
  gap: 10px;
}

.type-image-container {
  background: linear-gradient(
    180deg,
    rgba(119, 119, 119, 0.4) 0%,
    rgba(35, 35, 35, 0.1) 100%
  );
  border-radius: 5px;
  height: 35px !important;
  width: 35px !important;
  display: grid;
  place-items: center;
}

.amount {
  font-weight: 600;
}

.edit-button {
  background: #c8ee44;
  height: 38px;
  width: 67px;
  border: none;
  text-decoration: none;
  border-radius: 0.625rem;
  padding: 16px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #1b212d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
