.expenses-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.create-expense-modal.hidden {
  display: none;
}

.expenses-content {
  margin: 0rem 2.5rem;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #f8f8f8;
  border: 1px solid #f5f5f5;
  border-radius: 15px;
  padding: 12px 70px 12px 15px;
}

.search-bar:active {
  border: 1px solid #964444;
}

.search-input {
  width: 100%;
  border: none;
  background: #f8f8f8;
  color: #929eae;
  font-size: 14px;
  border-radius: 15px;
}

.search-input:focus-visible,
.search-input::placeholder {
  outline: none;
  color: #929eae;
}

.expense-buttons {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  height: 48px;
  margin-left: 1rem;
  justify-content: flex-end;
}

.create-expense,
.filter-expenses,
.update-currency {
  border: none;
  text-decoration: none;
  border-radius: 0.625rem;
  padding: 16px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #1b212d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.create-expense {
  background: #c8ee44;
  transition: all 0.1s ease-in;
  min-width: fit-content;
}

.create-expense:active {
  background: #89a22e;
}

.filter-expenses {
  background: white;
  border: 1px solid #f5f5f5;
  transition: all 0.1s ease-in;
}

.filter-expenses:active {
  background-color: #f5f5f5;
}

.currency-select {
  cursor: pointer;
  border-radius: 5px;
  background: white;
  outline: 1px solid #f5f5f5;
  height: 100%;
  border: none;
  font-size: 14px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #1b212d;
}

.currency-select option {
  font-size: 14px;
  font-weight: 600;
  color: #1b212d;
}

.update-currency {
  background: white;
  border: 1px solid #f5f5f5;
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.expenses-table {
  margin-top: 25px;
  border-top: 1px solid #f5f5f5;
  min-width: 675px;
}

.expense-cards {
  overflow-y: auto;
  max-height: 532px;
}

.expense-cards::-webkit-scrollbar {
  width: 25px;
  margin-top: 5px;
  scrollbar-width: thin;
}

.expense-cards::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #929eae;
  border: solid 10px transparent;
  border-radius: 50px;
  margin-top: 5px;
}

.expense-expenses {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1.5fr 1.1fr 0.8fr 0.7fr 0.55fr 0.65fr 1fr;
  column-gap: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
}

.create-expense-container {
  min-width: 100%;
  min-height: 100%;
  display: grid;
  place-items: center;
  margin: auto auto;
  position: fixed;
  background-color: rgba(200, 200, 200, 0.3);
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Dark mode §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.expenses-container.dark {
  color: #ffffff;
  background: #1c1a2e;
}

.expenses-container.dark .expense-expenses {
  background: #1c1a2e;
}

.expenses-container.dark .search-bar,
.expenses-container.dark .search-input {
  background: #282541;
}

.expenses-container.dark .search-bar {
  border: 1px solid #201e34;
}

.expenses-container.dark .search-bar img {
  filter: brightness(250%);
}

.expenses-container.dark .filter-expenses,
.expenses-container.dark .update-currency,
.expenses-container.dark .update-currency select,
.expenses-container.dark .update-currency option {
  background: #1c1a2e;
  color: white;
  border: 1px solid white;
}

.expenses-container.dark .filter-expenses img {
  filter: brightness(2000%);
}

.expenses-container.dark .filter-expenses:active {
  background: #3d3b52;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Media  Queries §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§ */

@media only screen and (max-width: 1280px) {
  .card-element.invoice,
  .category-btn.invoice {
    display: none;
  }
  .expense-expenses,
  .expenses-container .input-titles-expenses {
    display: grid;
    grid-template-columns: 1.35fr 1fr 0.7fr 0.8fr 0.7fr 0.9fr;
    column-gap: 5px;
    flex-shrink: 1;
  }

  .card-element.button-container {
    padding-left: 10px;
  }

  .expense-card-text.category {
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 0.5rem;
  }
  .expense-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media only screen and (max-width: 860px) {
  .expenses-container {
    padding-top: 1rem;
  }

  .expense-expenses,
  .expenses-container .input-titles-expenses {
    display: grid;
    grid-template-columns: 1fr 0.7fr 0.7fr 0.7fr 0.55fr 1fr;
    column-gap: 5px;
    flex-shrink: 1;
  }

  .expense-card-text.category {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .expense-buttons p {
    display: none;
  }
}
