.expenses-container {
  display: block;
  width: 100%;
}

.expenses-content {
  margin: 2.5rem;
  display: block;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 335px;
  gap: 15px;
  background: #f8f8f8;
  border: 1px solid #f5f5f5;
  border-radius: 15px;
  padding: 12px 70px 12px 15px;
}

.search-bar:active {
  border: 1px solid #964444;
}

.search-input {
  width: 100%;
  border: none;
  background: #f8f8f8;
  color: #929eae;
  font-size: 14px;
  border-radius: 15px;
}

.search-input:focus-visible,
.search-input::placeholder {
  outline: none;
  color: #929eae;
}

/* SORT OUT POSITIONING */
.expense-buttons {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  height: 48px;
  margin-left: 1rem;
}

.create-expense,
.filter-expenses {
  border: none;
  text-decoration: none;
  border-radius: 0.625rem;
  padding: 16px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #1b212d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.create-expense {
  background: #c8ee44;
  width: 175px;
}

.filter-expenses {
  background: white;
  border: 1px solid #f5f5f5;
  width: 110px;
}

.expenses-table {
  margin-top: 25px;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  border-top: 1px solid #f5f5f5;
}

.input-titles {
  margin-top: 25px;
  /* display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 0.5fr; */
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 12px;
  font-weight: 600;
  color: #929eae;
}
