.input-titles {
  display: grid;
  grid-template-columns: 1.6fr 1.5fr 1.1fr 0.75fr;
  /* display: flex;
  justify-content: space-between; */
  /* min-width: 100%; */
  width: 100%;
  column-gap: 5px;
  font-size: 12px;
  font-weight: 600;
  margin: 0px 20px;
  
 
}

.input-titles-expenses {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1.5fr 1.1fr 0.8fr 0.7fr 0.65fr 1fr;
  color: #929eae;
  column-gap: 5px;
}

.input-titles,
.input-titles.dark,
.input-titles-expenses,
.input-titles-expenses.dark {
  /* background: #ffffff 0; */
  column-gap: 5px;
  gap: 5px;
}

.input-titles.dark {
  background: #1c1a2e;
}

.category-btn.hidden {
  background: #c9ee4431;
  color: black;
  cursor: default;
}

.category-btn {
  border: none;
  border-radius: 5px;
  text-decoration: none;
  height: 30px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c9ee4471;
  cursor: pointer;
  flex-wrap: nowrap;
}

.category-btn.action {
  color: black;
  cursor: default;
}

/* .filter-dropdown-img {
	padding-left: 10px;
}

.filter-dropdown-img {
	transition: transform 0.5s ease-in-out;
}

.filter-dropdown-img img.closed {
	transform: rotate(180deg);
} */

.input-titles img,
.input-titles-expenses img {
  transition: transform 0.3s;
  display: block;
  max-width: 100%;
}

.input-titles img.desc,
.input-titles-expenses img.desc {
  transform: rotate(-90deg);
  display: block;
}

.input-titles img.asc,
.input-titles-expenses img.asc {
  transform: rotate(90deg);
  display: block;
}

/* .filter-form {
	width: 80%;
	height: 75px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: 1px solid #f5f5f5;
	place-items: center;
}

.filter-select {
	width: 200px;
	height: 40px;
	cursor: pointer;
	border-radius: 15px !important;
	padding: 10px !important;
	background: #f8f8f8;
}

.checkbox-input-text {
	display: flex;
	align-items: center;
	margin: 0 !important;
} */

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Dark mode §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.input-titles.dark .category-btn,
.input-titles-expenses.dark .category-btn {
  /* background: #c8ee44; */
  background: #c9ee4471;
  color: white;
}

.input-titles.dark img,
.input-titles-expenses.dark img {
  filter: brightness(200%);
  /* background: white; */
}

.input-titles.dark .category-btn.hidden,
.input-titles-expenses.dark .category-btn.hidden {
  /* background: #ceed5e; */
  background: #c9ee4431;
  color: white;
}

.input-titles.dark .category-btn {
  /* color: #1b212d; */
}

.input-titles.dark .category-btn.hidden {
  /* color: #929eae; */
}
