.input-titles {
  display: grid;
  grid-template-columns: 1.6fr 1.5fr 1.1fr 0.75fr;
  width: 100%;
  column-gap: 5px;
  font-size: 12px;
  font-weight: 600;
  margin: 0px 20px;
}

.input-titles-expenses {
  margin-top: 25px;
  color: #929eae;
}

.expenses-container .input-titles-expenses {
  display: grid;
  grid-template-columns: 1.5fr 1.1fr 0.8fr 0.7fr 0.55fr 0.65fr 1fr;
}

.input-titles,
.input-titles.dark,
.input-titles-expenses,
.input-titles-expenses.dark {
  column-gap: 5px;
}

.input-titles.dark {
  background: #1c1a2e;
}

.category-btn.hidden {
  background: #c9ee4431;
  color: black;
  cursor: default;
}

.category-btn {
  border: none;
  border-radius: 5px;
  text-decoration: none;
  height: 30px;
  font-weight: 500;
  display: flex;
  column-gap: 20px;
  align-items: center;
  background: #c9ee4471;
  cursor: pointer;
  flex-wrap: nowrap;
}

.category-btn.action {
  color: black;
  cursor: default;
}

.input-titles img,
.input-titles-expenses img {
  transition: transform 0.3s;
  display: block;
  max-width: 100%;
}

.input-titles img.desc,
.input-titles-expenses img.desc {
  transform: rotate(-90deg);
  display: block;
}

.input-titles img.asc,
.input-titles-expenses img.asc {
  transform: rotate(90deg);
  display: block;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Dark mode §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.input-titles.dark .category-btn,
.input-titles-expenses.dark .category-btn {
  background: #c9ee4471;
  color: white;
}

.input-titles.dark img,
.input-titles-expenses.dark img {
  filter: brightness(200%);
}

.input-titles.dark .category-btn.hidden,
.input-titles-expenses.dark .category-btn.hidden {
  background: #c9ee4431;
  color: white;
}
