.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 40px !important;
  height: 70px;
}

.title {
  font-size: 1.56rem;
  line-height: 1.875rem;
  font-weight: 600;
}

.profile-btn {
  border-radius: 3rem;
  background-color: #f8f8f8;
  border: none;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px 10px;
}

.display-picture {
  border-radius: 50px;
  height: 2.2rem;
  width: 2.2rem;
  object-fit: cover;
}

.header-container.dark {
  background: #1c1a2e;
}

.header-container.dark .profile-btn {
  background: #282541;
  color: white;
}
