.desktop-version {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  background: #fafafa;
  padding: 0rem 2rem;
}

.logo {
  margin-top: 30px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 0.15rem;
}

.nav-links a {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  color: #929eae;
  padding: 0.969rem;
  gap: 0.5rem;
  display: flex;
  transition: all 0.2s ease-in;
}

.nav-links .active,
.nav-links a:hover,
.nav-links a:focus-visible {
  background: #c8ee44;
  border-radius: 0.5rem;
  color: #1b212d;
  font-weight: 700;
}

.nav-links a:active {
  background: #89a22e;
}

.dark-btn {
  border: none;
  background-color: rgba(250, 250, 250, 0);
  width: 150px;
  justify-content: center;
  margin-top: 10px;
}

.toggle {
  width: 60px;
  opacity: 0.8;
}

.logout-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: rgba(250, 250, 250, 0);
  color: #929eae;
  gap: 0.5rem;
  margin-top: auto;
  margin-bottom: 15.5px;
  margin-left: 1rem;
  font-size: 1rem;
  width: fit-content;
}

.logout-button:hover {
  color: #1b212d;
  font-weight: 700;
  cursor: pointer;
}

.mobile {
  display: none;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Dark mode §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.dark,
.dark .desktop-version,
.nav-container.dark > .mobile {
  background: #201e34;
}

.logout-button .dark {
  background: #201e34;
}

.dark .title {
  color: white;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Media  Queries §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§ */

@media only screen and (max-width: 860px) {
  .desktop-version {
    display: none;
  }
  .mobile {
    display: block;
    margin: 0 1.5rem;
  }
  .nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  .mobile-nav-hidden {
    display: none;
  }
  .mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .expand-icon {
    border: none;
    background: none;
    height: 1.5rem;
    width: 1.5rem;
  }
  .expand-icon img {
    height: 1.5rem;
    width: 1.5rem;
  }
  .nav-links.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0;
  }
  .navlink-dashboard,
  .navlink-expenses,
  .navlink-settings {
    display: flex;
    align-items: center;
    color: #929eae;
  }
  .nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .logout-button {
    padding: 0.969rem;
    margin: 0;
    font-size: 0.875rem;
    font-weight: 500;
  }
  .dark-btn {
    margin: 0;
    padding: 0;
  }
}
