nav {
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 115.5px;
    background: #FAFAFA;
}

.nav-links {
    display: flex;
    flex-direction: column;
    height: 148px;
    gap: 2px;
    
}

.nav-links a {
    font-size: 0.875rem;
    font-weight: 500;  
    text-decoration: none;
    color: #929EAE;   
}
