.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Dash geral §§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.dash-container {
  display: inline-flex;
  gap: 2.5rem;
  padding-bottom: 2.75rem;
  margin-right: 40px;
}

.resume-container {
  max-width: 75%;
  margin-left: 2.5rem;
}

.section-title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§ Amount Resume §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§ */

.amounts-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.amount-itm-total,
.amount-itm {
  display: inline-flex;
  align-items: center;
  gap: 0.938rem;
  padding: 0 1.25rem;
  width: 13.875rem;
  height: 6.563rem;
  border-radius: 0.625rem;
  margin-bottom: 1.875rem;
  overflow: hidden;
}

.amount-itm-total {
  background: #363a3f;
  color: #fff;
}

.amount-itm {
  background: #f8f8f8;
}

.amount-title {
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 400;
  color: #929eae;
}

.amount-value {
  font-size: 1.5rem;
  line-height: 0.875rem;
  font-weight: 700;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§§ Graph Section §§§§§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */

.graph-container {
  border: 1px solid #f5f5f5;
  border-radius: 0.625rem;
  padding: 5px 25px;
  margin-bottom: 1.875rem;
  background: #f8f8f8;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

.filters-container {
  width: 100%;
  display: flex;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§§ Recent Expenses Section §§§§§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */

.dashboard-expense-container {
  border: 1px solid #f5f5f5;
  border-radius: 0.625rem;
}

.dashboard-expense-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 25px;
}

.dashboard-expense-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  height: fit-content;
}

.expand-btn {
  border: none;
  background-color: white;
  padding: 0px 0px;
  color: #29a073;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  height: fit-content;
}

.expense-dashboard {
  display: grid;
  grid-template-columns: 1.6fr 1.5fr 1.1fr 0.75fr;
  margin: 0px 25px;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  column-gap: 20px;
  border-top: 1px solid rgba(119, 119, 119, 0.1);
}

.expense-dashboard > .card-element > .selected-currency {
  display: inline-flex;
  justify-content: flex-end;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Recurring expenses §§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */

.recurring-expenses-container {
  min-width: 315px;
}

.title-recurring-expenses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 40px;
}

.recurring-expenses-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  height: fit-content;
}

.expense-dashboard-recurring > .card-element > .selected-currency {
  display: inline-flex;
  justify-content: flex-end;
  padding-left: 1.5rem;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Dark mode §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.dashboard-container.dark {
  color: #ffffff;
  background: #1c1a2e;
}

.dashboard-container.dark .amount-itm-total {
  background: #282541;
}

.dashboard-container.dark .amount-itm {
  background: #201e34;
}

.dashboard-container.dark .graph-container,
.dashboard-container.dark .dashboard-expense-container {
  border: 1px solid #282541;
}

.dashboard-container.dark .expense-card-subtext,
.dashboard-container.dark .expand-btn {
  background: #1c1a2e;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Media  Queries §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§ */

@media only screen and (max-width: 1280px) {
  .dash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .resume-container {
    max-width: 100%;
  }
  .recurring-expenses-container {
    margin-left: 2.5rem;
    border: 1px solid #f5f5f5;
    border-radius: 0.625rem;
    padding: 0px 25px;
  }
  .dashboard-container.dark .recurring-expenses-container {
    border: 1px solid #282541;
  }
  .expense-dashboard {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 1090px) {
  .expense-card-text.date {
    font-size: 10px;
  }
}

@media only screen and (max-width: 860px) {
  .resume-container {
    display: flex;
    align-items: flex-start;
  }
  .amounts-tab {
    display: flex;
    flex-direction: column;
  }
  .graph-container {
    visibility: hidden;
  }
  p.expense-card-text.category {
    display: none;
  }
}
