.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Dash geral §§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.dash-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 2.5rem;
  padding-bottom: 2.75rem;
  margin-right: 40px;
}

.resume-container {
  margin-left: 2.5rem;
}

.section-title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
/* §§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§ Amount Resume §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§ */

.amounts-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.amount-itm-total,
.amount-itm {
  display: inline-flex;
  align-items: center;
  gap: 0.938rem;
  padding: 0 1.25rem;
  width: 13.875rem;
  height: 6.563rem;
  border-radius: 0.625rem;
  margin-bottom: 1.875rem;
  overflow: hidden;
}

.amount-itm-total {
  background: #363a3f;
  color: #fff;
}

.amount-itm {
  background: #f8f8f8;
}

.amount-title {
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 400;
  color: #929eae;
}

.amount-value {
  font-size: 1.5rem;
  line-height: 0.875rem;
  font-weight: 700;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§§ Graph Section §§§§§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */

.graph-container {
  border: 1px solid #f5f5f5;
  border-radius: 0.625rem;
  height: 18.125rem;
  margin-bottom: 1.875rem;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§§ Recent Expenses Section §§§§§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */

.dashboard-expense-container {
  border: 1px solid #f5f5f5;
  border-radius: 0.625rem;
}

.dashboard-expense-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 25px;
}

.dashboard-expense-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
  min-width: 100%;
  height: fit-content;
}

.expand-btn {
  border: none;
  background-color: white;
  padding: 0px 0px;
  color: #29a073;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  height: fit-content;
}

table {
  width: 45rem;
  margin: 0 1.188rem 1.25rem 1.563rem;
}

th {
  font-size: 0.75rem;
  color: #929eae;
  font-weight: 600;
  border-bottom: 1px solid #f5f5f5;
}

td {
  border-bottom: 1px solid #f5f5f5;
  height: 3.313rem;
  text-align: center;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Recurring expenses §§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */

.recurring-expenses-container {
  /* margin-right: 40px; */
  min-width: 315px;
}

.title-recurring-expenses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin-right: 40px;
}

.recurring-expenses-card {
  /* gap: 20px;
	display: flex;
	flex-direction: column;
	width: 100%; */

  /* display: grid;
	gap: 20px;
	height: fit-content;
	*/
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  height: fit-content;
}

/* TRYING TO SORT OUT EXPENSE CARD RENDERING INTO DASHBOARD WITHOUT MESSING UP IN EXPENS */
@media only screen and (max-width: 1280px) {
  .dash-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }
  .recurring-expenses-container {
    /* width: 100%; */
    margin-left: 2.5rem;
    border: 1px solid #f5f5f5;
    border-radius: 0.625rem;
    padding: 0px 25px;
  }
}
