.fpass-container {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.form-half {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-half {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}

.landing-image {
  float: right;
  height: 100%;
}

.form-fcontainer {
  display: flex;
  flex-direction: column;
  margin: 40px 15px;
  height: 100%;
}

.form-pass-container {
  color: #1b212d;
  font-size: 0.9rem;
  font-weight: 500;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #1b212d;
  font-size: 0.9rem;
  font-weight: 500;
}

.title-fpass {
  font-size: 2rem;
  font-weight: 600;
  color: #1b212d;
  line-height: 37px;
  margin-top: 90px;
}

.reset-btn {
  background-color: #c8ee44;
  border: none;
  border-radius: 10px;
  color: #1b212d;
  font-size: 1.2rem;
  font-weight: 600;
  font-size: 1rem;
  height: 48px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.vector-pass {
  width: 96px;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 115px;
}
