* {
  box-sizing: border-box;
  font-family: "Kumbh Sans";
}

body {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

label {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #1b212d;
  font-weight: 500;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Dark mode §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.dark ::-webkit-calendar-picker-indicator {
  color-scheme: dark;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Media  Queries §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§ */

@media only screen and (max-width: 860px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
