* {
  box-sizing: border-box;
  font-family: "Kumbh Sans";
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

input {
  outline: none;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Dark mode §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.dark ::-webkit-calendar-picker-indicator {
  color-scheme: dark;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Media  Queries §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§ */

@media only screen and (max-width: 860px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
