* {
  box-sizing: border-box;
  font-family: "Kumbh Sans";
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
  height: 100vh;
  width: 100vw;
}

input {
  outline: none;
}
