.settings-container {
  width: 100%;
  height: 100%;
  color: #1b212d;
  overflow-y: auto;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§ Main Container §§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.main-container {
  /* margin: 0px 10.8rem 9.2rem 5rem; */
  margin-left: 40px;
  padding-left: 40px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 100px;
  padding-bottom: 60px;
  /* padding-bottom: 2.75rem; */
  /* max-width: 100%; */
}

@media only screen and (max-width: 1280px) {
  .main-container {
    /* min-width: fit-content; */
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-width: 450px;
    /* justify-content: center;
	  align-items: center; */
  }
  .settings-container {
    overflow-y: auto;
    /* min-width: fit-content; */
  }

  /* .form-wrap {
    display: flex;
    flex-direction: column;
  } */
}

.subtitle-acc {
  font-size: 1.25rem;
  line-height: 1.56rem;
  font-weight: 600;
}

.subtitle-details {
  font-size: 0.875rem;
  color: #929eae;
  line-height: 1rem;
}

.personal-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.subtitle-pers {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.edit-btn {
  border: none;
  border-radius: 0.625rem;
  /* ba: white; */
  background-color: white;
  color: #29a073;
  /* font-size: 1.125rem; */
  font-weight: 600;
  line-height: 1.375rem;
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.1s ease-in;
  display: flex;
  justify-content: center;
}

.edit-btn:active {
  opacity: 0.2;
}

.pen-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.625rem;
  cursor: pointer;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§ Form Container §§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.form-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}
.form-column {
  display: flex;
  flex-direction: column;
  /* remove width to make 25rem */
  width: 48%;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.06rem;
}

.input {
  /* width: 25rem; */

  border: 1px solid #f5f5f5;
  height: 3rem;
  border-radius: 0.625rem;
  margin-bottom: 1.25rem;
  padding-left: 1.6rem;
}

.input-date {
  cursor: pointer;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Mail form §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.mail-container,
.mail-container-white {
  width: 48%;
  border: 1px solid #f1f1f3;
  height: 2.75rem;
  border-radius: 0.625rem;
  padding: 0.75rem 1.563rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.563rem;
}

.mail-container {
  background: #f8f8f8;
}
.mail-container-white {
  background: white;
}
.mail-input {
  border: none;
  width: 100% !important;
  padding-left: 1.25rem;
  background: #f8f8f8;
}

.mail-input-w {
  border: none;
  width: 100% !important;
  padding-left: 1.25rem;
  background: white;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Pass form §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.pass-container,
.pass-container-white {
  width: 100%;
  border: 1px solid #f1f1f3;
  height: 2.75rem;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.563rem;
}

.pass-container {
  background: #f8f8f8;
}

.pass-container-white {
  background: white;
}

.pass-input {
  border: none;
  width: 100% !important;
  padding-left: 1.25rem;
  background: #f8f8f8;
}

.pass-input-w {
  border: none;
  width: 100% !important;
  padding-left: 1.25rem;
  background: white;
}

.eye-btn {
  border: none;
  background-color: rgba(250, 250, 250, 0);
  transition: all 0.1s ease-in;
  cursor: pointer;
  display: grid;
  place-content: center;
  place-items: center;
}

.eye-btn:active {
  opacity: 0.2;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§ Update btn §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.update-btn {
  color: #fff;
  height: 3.25rem;
  width: 11.875rem;
  border: none;
  border-radius: 0.625rem;
  background-color: #29a073;
  margin-top: 2.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.update-btn:active {
  background-color: #1b6448;
}
