.settings-container {
  width: 100%;
  height: 100%;
  color: #1b212d;
  overflow-y: auto;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§ Main Container §§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.main-container {
  margin-left: 40px;
  padding-left: 40px;
  padding-left: 40px;
  padding-right: 100px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 1280px) {
  .main-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-width: 450px;
  }
  .settings-container {
    overflow-y: auto;
  }
}

.subtitle-acc {
  font-size: 1.25rem;
  line-height: 1.56rem;
  font-weight: 600;
}

.subtitle-details {
  font-size: 0.875rem;
  color: #929eae;
  line-height: 1rem;
}

.personal-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.subtitle-pers {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.edit-btn {
  border: none;
  border-radius: 0.625rem;
  background-color: white;
  color: #29a073;
  font-weight: 600;
  line-height: 1.375rem;
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.1s ease-in;
  display: flex;
  justify-content: center;
}

.edit-btn:active {
  opacity: 0.5;
}

.pen-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.625rem;
  cursor: pointer;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§ Form Container §§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.form-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.form-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.06rem;
}

.input {
  border: 1px solid #f5f5f5;
  height: 3rem;
  border-radius: 0.625rem;
  margin-bottom: 1.25rem;
  padding-left: 1.6rem;
}

.label-dp {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.pp-container {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-picture {
  height: 8rem;
  width: 8rem;
  margin-bottom: 1.25rem;
  border-radius: 150px;
}

.pp-container > input {
  width: 30% !important;
}

::-webkit-file-upload-button {
  background-color: #c8ee44;
  border: none;
  color: #1b212d;
  font-size: 14px;
  font-weight: 600;
  padding: 1em;
  border-radius: 0.625rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
}

.upload-dp-btn {
  background-color: #c8ee44;
  border: none;
  color: #1b212d;
  font-size: 14px;
  font-weight: 600;
  padding: 1em;
  border-radius: 0.625rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.update-btn:active {
  background-color: #1b6448;
}

.input-date {
  cursor: pointer;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Mail form §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.mail-container,
.mail-container-white {
  border: 1px solid #f1f1f3;
  height: 2.75rem;
  border-radius: 0.625rem;
  padding: 0.75rem 1.563rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.563rem;
  column-span: 2;
}

.mail-container {
  background: #f8f8f8;
}

.mail-container-white {
  background: white;
}

.mail-input {
  border: none;
  width: 100% !important;
  padding-left: 1.25rem;
  background: #f8f8f8;
}

.mail-input-w {
  border: none;
  width: 100% !important;
  padding-left: 1.25rem;
  background: white;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Pass form §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.pass-container,
.pass-container-white {
  border: 1px solid #f1f1f3;
  height: 2.75rem;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.563rem;
}

.pass-container {
  background: #f8f8f8;
}

.pass-container-white {
  background: white;
}

.pass-input {
  background: #f8f8f8;
}

.pass-input,
.pass-input-w {
  border: none;
  width: 100% !important;
  padding-left: 1.25rem;
}

.pass-input-w {
  background-color: white;
}

.eye-btn {
  border: none;
  background-color: rgba(250, 250, 250, 0);
  transition: all 0.1s ease-in;
  cursor: pointer;
  display: grid;
  place-content: center;
  place-items: center;
}

.eye-btn:active {
  opacity: 0.2;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§ Update btn §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.update-btn {
  color: #fff;
  height: 3.25rem;
  width: 11.875rem;
  border: none;
  border-radius: 0.625rem;
  background-color: #29a073;
  font-size: 14px;
  font-weight: 600;
  margin-top: 2.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.update-btn:active {
  background-color: #1b6448;
}

/* §§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Dark mode §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§ */

.settings-container.dark {
  color: #ffffff !important;
  background: #1c1a2e;
}

.main-container.dark {
  background: #1c1a2e;
}

.edit-btn.dark {
  background: #1c1a2e;
}

.form-wrap.dark {
  background: #1c1a2e;
}

.form-wrap.dark .input {
  background-color: #201e34;
  border: 1px solid #282541;
  color: #ffffff;
}

.form-wrap.dark .input:disabled {
  color: #78778b;
}

.main-container.dark .mail-container,
.main-container.dark .mail-container-white {
  background-color: #201e34;
  border: 1px solid #282541;
}
.main-container.dark .mail-input,
.main-container.dark .mail-input-w {
  background-color: #201e34;
  color: #ffffff;
}

.main-container.dark .mail-input:disabled {
  background-color: #201e34;
  color: #78778b;
}

.main-container.dark .pass-container,
.main-container.dark .pass-container-white {
  background-color: #201e34;
  border: 1px solid #282541;
}

.main-container.dark .pass-input,
.main-container.dark .pass-input-w {
  background-color: #201e34;
  color: #ffffff;
}

.main-container.dark .pass-input {
  color: #78778b;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§ Media  Queries §§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§ */

@media only screen and (max-width: 480px) {
  .pp-container {
    display: flex;
    flex-direction: column;
  }
  .pp-container > input {
    width: fit-content !important;
  }
}
